* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
     font-family: "Poppins", serif; 
}
 
html {
     font-size: 62.5%;
}
 
:root {
     --lightblue: #768299;
     --blue: #407BFF;
     --deepblue: #2D3D62;
     --grey: #434A59; 
     --blueviolet: #3F5071;
     --whitesmoke: #F6F6F9;
     --white: #F0ECF3;
     --gray: #727272;
     --ash: #6B6C6F;
     --black: #000000;
     --purple: #3f5071;
}
 
 /* // Navbar  Section// */
 
.navbar-links {
     display: flex;
}
 
.navbar-links a {
     text-decoration: none;
     color: var(--lightblue);
     font-size: 1.4rem;
     font-weight: 600;
     padding: 2.5rem 2rem;
}
 
.logo {
     margin-right: 30rem;
     margin-left: 3rem;
     padding-top: 2rem;
}
 
#aboutus {
     color: var(--blue);
}
 
.btn {
     margin-left: 20rem;
     margin-top: 1.5rem;
}
 
.btn a {
    text-decoration: none;
}

.btn button {
     background: none;
     outline: none;
     font-size: 1.5rem;
     border: none;
     font-weight: bold;
     margin-top: 1rem;
}
 
.btn .login {
     padding: 0.8rem 2.5rem;
     color: var(--blue);
     border: 1px solid var(--blue);
     margin-right: 1rem;
     border-radius: 7px;
}
 
.btn .get {
     padding: 1rem 2rem;
     color: var(--white);
     background-color: var(--blue);
     border: none;
     border-radius: 7px;
}
 
.bar-icon {
    font-size: 4rem;
    color: var(--blue);
    display: none;
    background: none;
    border: none;
} 

nav {
    height: 15vh;
    display: flex;
}

/* Header */

header {
    height: 140vh;
}

.intro-text h3 {
    color: var(--deepblue);
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 1rem;
}

.intro-text p {
    font-size: 1.8rem;
    font-weight: 400;
}

.intro-image {
   margin-top: 10rem;
}

.flexbox {
    display: flex;
    justify-content: space-around;
}

/* Section One */

.one {
    height: 50vh;
    color: var(--white);
    background-color: var(--blueviolet);
}

.number h3 {
    font-family: "Open Sans", serif;
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
}

.number p {
    font-family: "Open Sans", serif;
    font-size: 2.4rem;
    font-weight: 600; 
}

.number2 h3 {
    font-family: "Open Sans", serif;
    font-size: 5rem;
    font-weight: 600;
  text-align: center;

}

.number2 p {
    font-family: "Open Sans", serif;
    font-size: 2.4rem;
    font-weight: 600; 
}

.number3 h3 {
    font-family: "Open Sans", serif;
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
}

.number3 p {
    font-family: "Open Sans", serif;
    font-size: 2.4rem;
    font-weight: 600; 
}

.number4 h3 {
    font-family: "Open Sans", serif;
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
}

.number4 p {
    font-family: "Open Sans", serif;
    font-size: 2.4rem;
    font-weight: 600; 
}

.flexbox2 {
    display: flex;
    justify-content: space-around;
    padding-top: 10rem;
}

/* Section Two */

.two {
    height: 120vh;
    position: relative;
}

.users h3 {
     text-align: center;
     color: var(--deepblue);
     font-size: 5rem;
     font-weight: 700;
     padding-top: 10rem;
}

.image img {
    position: absolute;
    left: 10rem;
    top: 5rem;
}

.user1 {
    width: 50rem;
    height: 40vh;
    padding: 1rem;
}

.user1 p {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

.user1 img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 17rem;
}

.user1 h3 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.user2 {
    width: 50rem;
    height: 40vh;
    padding: 1rem;
}

.user2 p {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

.user2 img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 17rem;
}

.user2 h3 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.user3 {
    width: 50rem;
    height: 40vh;
    padding: 1rem;
}

.user3 p {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

.user3 img {
    margin-top: 5rem;
    margin-bottom: 2rem;
    margin-left: 17rem;
}

.user3 h3 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.flexbox3 {
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
}

/* Section Three */

.three {
    height: 150vh;
}

.contact h3 {
    color: var(--deepblue);
    font-size: 7rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 7rem;
}

.connected h3 {
    color: var(--grey);
    font-size: 5rem;
    font-weight: 700;
}

.connected h3 span {
    color: var(--blue);
}

.connected p {
    color: var(--grey);
    font-size: 1.6rem;
    font-weight: 500;
}

form input {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 1rem;
    padding-right: 40rem;
    background-color: var(--ash);
    outline: none;
    border: 1px solid var(--black);
    border-radius: 10px;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

#text {
    padding-top: 2.5rem;
    padding-bottom: 17rem;
}

form label {
    color: var(--blueviolet);
    font-size: 2rem;
    font-weight: 600;
    font-family: "Open Sans", serif;
}

input::placeholder {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 500;
    font-family: "Open Sans", serif;
}

.flexbox4 {
    display: flex;
    justify-content: space-around;
}

/* Footer */

footer {
    height: 35rem;
    background: var(--purple);
}

.civic h2 {
    color: var(--whitesmoke);
    font-size: 3rem;
    font-weight: 700;
    font-family: "Open Sans", serif;
    padding-left: 2rem;
    padding-bottom: 2.5rem;
}

.links a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
    padding: 0 2rem;
}

.stay h5{
   color: var(--whitesmoke);
   font-size: 1.5rem;
   font-weight: 600;
   font-family: "Roboto", serif;
   padding-bottom: 1.5rem;
   padding-top: 1.5rem;
}

#email {
    padding: 1.5rem 1.5rem;
    font-size: 1.5rem;
    border: 1px solid var(--blue);
    outline: none;
    color: var(--blue);
    border-radius: 7px;
}

.stay input::placeholder {
    cursor: text;
    color: var(--blue);
}

.stay button {
   border: none;
   outline: none;
   font-size: 1.5rem;
   font-weight: 500;
   background-color: var(--blue);
   color: var(--white);
   padding: 1.5rem 3rem;
   border-radius: 7px;
   margin-left: 1rem;
}

.flexbox5 {
    display: flex;
    justify-content: space-around;
    padding-top: 4rem;
}

#empty {
    color: var(--white);
    border-bottom: 1px solid var(--white);
    width: 90%;
    margin-left: 7rem;
    padding-top: 7rem;
}

.last {
    margin-left: 10rem;
}

.last p {
   font-size: 1.7rem;
   font-family: "Roboto", serif;
   color: var(--white);
   font-weight: 400;
}

.links2 {
    margin-right: 10rem;
}

.links2 a {
    color: var(--white);
    font-size: 1.7rem;
    font-family: "Roboto", serif;
    font-weight: 300;
    padding: 0 1rem;
}

.flexbox6 {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}



/* Tablet Screen */


@media screen and (max-width: 1024px) {
    
    .logo {
        margin-left: 6rem;
        padding-top: 4rem;
    }

   .btn {
        display: none;
        margin-left: 10rem;
    }

    .btn button {
        display: block;
    }

   .bar-icon {
        padding-top: 3rem;
        display: flex;
        margin-left: 40rem;
    }

    .btn .login {
        border: none;
    }

   .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: var(--deepblue);
        top: 99px;
        right: 1rem;
        width: 30vw;
        height: 50vh;
        padding-top: 2rem;
        z-index: 1;
    }
    
    .navbar-links a {
        display: block;
        text-align: center;
        color: var(--white);
        padding-top: 0.5rem;
    }

    .show {
        display: block;
    }

    .flexbox {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .intro-text p {
        font-size: 2.5rem;
    }

    header {
        height: 250vh;
    }

    .one {
        height: 30rem;
    }

    .two {
        height: 180rem;
    }

    .flexbox3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .user2 {
        margin: 20rem 0;
    }

    .image {
        display: none;
    }
    
    .flexbox4 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form {
        margin-top: 10rem;
        margin-left: 4rem;
    }

    .three {
        height: 250vh;
    }

    footer {
        height: 100rem;
    }

    .flexbox5 {
        flex-direction: column;
    }

    .links a {
        display: block;
        padding-top: 3rem;
        text-align: center;
    }

    .civic {
        display: flex;
        justify-content: center; 
    }

    .stay {
        margin-top: 3rem;
        margin-bottom: 2rem;
        margin-left: 5rem;
    }

    .stay h5 {
        font-size: 2rem;
    }

    #email {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 1rem;
        padding-right: 70rem;
    }

    .stay button {
        font-size: 2rem;
        display: block;
        margin-top: 2rem;
        padding: 2rem 41rem;
        margin-left: 0;
    }

    .flexbox6 {
        flex-direction: column;
    }

    .links2 {
        margin-top: 2rem;
        margin-left: 10rem;
    }
    
}


@media screen and (max-width: 912px) {
    
    .bar-icon {
        margin-left: 30rem;
   }

   .btn {
        margin-left: 8rem;
   }

   header {
       height: 170vh;
   }

   .user2 {
       margin: 5rem 0;
   }

   .two {
      height: 200rem;
   }

   #email {
       padding-right: 60rem;
   }

   .stay button {
       padding: 2rem 35.6rem;
   }
}



@media screen and (max-width: 853px) {

    .bar-icon {
        margin-left: 25rem;
   }

   .intro-text p {
       font-size: 2rem;
   }

   .three {
        height: 150vh;
   }

   #email {
    padding-right: 55rem;
   }

   .stay button {
    padding: 2rem 33rem;
   }

}


@media screen and (max-width: 820px) {

    .bar-icon {
        margin-left: 20rem;
    }
    
    .three{
        height: 150vh;
    }

     #email {
        padding-right: 50rem;
    }
    
     .stay button {
        padding: 2rem 30.6rem;
    }
}



@media screen and (max-width: 768px) {

    .btn {
        margin-top: 0;
        margin-left: 7rem;
    }

    .btn button {
        margin: 0;
    }

    .navbar-links {
        height: 60vh;
    }

    header {
        height: 300vh;
    }

    .user2 {
        margin: 20rem 0;
    }

    .two {
        height: 300vh;
    }

    .three {
        height: 300vh;
    }


    
}
@media screen and (max-width: 540px) {

    .logo {
        margin-left: 2rem;
        margin-right: 0;
    }

    .bar-icon {
        margin-left: 30rem;
    }

    .navbar-links {
        height: 70vh;
        width: 40vw;
    }

     .btn {
        margin-left: 6rem;
     } 

     .btn button {
        margin-top: 0;
     }

     .btn .get {
        background: none;
        color: var(--blue);
     }

    .intro-text p {
        font-size: 1.5rem;
    }

    .intro-image img {
        width: 30rem;
    }

    header {
        height: 160vh;
    }

    .one p {
        font-size: 1.5rem;
    }

    .one h3 {
        font-size: 2rem;
    }

    .one {
        height: 25rem;
    }

    .users h3 {
        font-size: 4rem;
    }

    .user2 {
        margin-top: 15rem;
    }

    .user3 {
        margin-top: 20rem;
    }

    .contact h3 {
        font-size: 4rem;
    }

    form input {
        padding-right: 30rem;
    }

    form {
        margin-left: 1rem;
    }

    .three {
        height: 230vh;
    }

    #email {
        padding-right: 25rem;
    }

    .stay button {
        padding: 2rem 18.2rem;
    }

    #empty {
        margin-left: 3rem;
    }
    
}



/* Mobile Screen */

@media screen and (max-width: 425px) {
    
    .bar-icon {
        margin-left: 19rem;
    }

    .navbar-links {
        width: 40vw;
    }

    .btn {
        margin-left: 3rem;
    }

    .intro-text p {
        font-size: 1.2rem;
    }

    header {
        height: 200vh;
    }

    .one {
        height: 100rem;
    }

    .user2 {
        margin: 25rem 0;
    }

    .two {
        height: 180rem;
    }

    .flexbox2 {
        flex-direction: column;
        align-items: center;
    }

    .number2 {
        margin: 10rem 0;
    }

    .number3 {
        margin-bottom: 10rem;
    }

    .number h3 {
        font-size: 4rem;
    }

    .number p {
        font-size: 2.4rem;
    }

    .number2 h3 {
        font-size: 4rem;
    }

    .number2 p {
        font-size: 2.4rem;
    }

    .number3 h3 {
        font-size: 4rem;
    }

    .number3 p {
        font-size: 2.4rem;
    }

    .number4 h3 {
        font-size: 4rem;
    }

    .number4 p {
        font-size: 2.4rem;
    }

    .users h3 {
        font-size: 3rem;
    }

    .connected {
        margin-left: 2rem;
    }

    .connected h3 {
        font-size: 3rem;
    }

    .connected p {
        font-size: 1.4rem;
    }

    form input {
        padding-right: 20rem;
    }

    .three {
        height: 170rem;
    }

    #email {
        padding-right: 15rem;
    }

    .stay button {
        padding: 2rem 13.1rem;
    } 

    .links2 {
        margin-left: 3rem;
    }

    .last {
        margin-left: 3rem;
    }

}


@media screen and (max-width: 414px) {
    
    .navbar-links {
        width: 35vw;
    }

    .intro-text {
        margin-left: 1rem;
    }

    .connected {
        margin-left: 1rem;
    }

    .stay {
        margin-left: 3rem;
    }
}


@media screen and (max-width: 390px) {
    
    header {
        height: 150vh;
    }

    form input {
        padding-right: 15rem;
    }
}



@media screen and (max-width: 375px) {

    .bar-icon {
        margin-left: 15rem;
    }

    .navbar-links {
        height: 70vh;
        width: 50vw;
        right: 1rem;
    }

    .btn {
        margin-left: 4rem; 
    }
     
    .intro-image img{
         width: 20rem;
     }

    header {
        height: 250vh;
    }

    form {
        margin-left: 0;
    }

    .stay {
        margin-left: 1rem;
    }

    #empty {
        margin-left: 1rem;
    }
}


@media screen and (max-width: 360px) {
    
    .navbar-links {
        width: 40vw;
        height: 35vh;
    }

    .bar-icon {
        margin-left: 13rem;
    }

    #email {
        padding-right: 13rem;
    }

    .stay button {
        padding: 2rem 12.1rem;
    }
}


@media screen and (max-width: 320px) {
    
    .bar-icon {
        margin-left: 10rem;
    }

    .navbar-links {
        width: 50vw;
        height: 75vh;
    }

    .btn {
        margin-left: 2.5rem;
    }

    .two p {
        font-size: 1.5rem;
    }

    .user2 {
        margin-bottom: 10rem;
    }

    form input {
        padding-right: 10rem;
    }

    #email {
        padding-right: 8rem;
    }

    .stay button {
        padding: 2rem 9.6rem;
    }

    .links2 {
        margin-right: 0;
    }


}



