* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
     font-family: "Poppins", serif; 
     overflow-x: hidden;
}
 
html {
     font-size: 62.5%;
}
 
:root {
     --blue: #407BFF;
     --deepblue: #1B2559;  
     --blueviolet: #203156;
     --grey: #B2B7C1; 
     --purple: #193365;
     --whitesmoke: #F4F7FE;
     --white: #FFFFFF;
     --gray: #A798B2;
     --lightblue: #9EB7E8; 
     --black: #000000;
}

nav ul {
    display: flex;
    list-style: none;
}

.logo {
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 85rem;
}

.logo img {
    width: 20rem;
}

li {
    padding-top: 4rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

nav button {
    background: none;
    outline: none;
    border: 1px solid var(--blue);
    border-radius: 7px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 4rem;     
    position: relative;
}

nav button a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--blue);
}

nav button img {
   width: 3rem;
   position: absolute;
   top: 0.3rem;
   right: 0.5rem;
}

#vector {
    margin-top: 1.4rem;
}

.bar-icon {
    font-size: 4rem;
    color: var(--blue);
    display: none;
    background: none;
    border: none;
}

nav {
    display: flex;
    height: 20vh;
}

header {
   height: 200vh;
}

.dashboard {
    margin-left: 8rem;
 }
 
.dashboard a {
    text-decoration: none;
    color: var(--gray);
    font-size: 1.7rem;
    font-weight: 400;
    font-family: "Roboto", serif;
    padding-left: 4rem;
}
 
.dashboard p {
    width: 10vw;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 10px;
    position: relative;
}
 
.dashboard img {
    position: absolute;
    top: 1rem;
    left: 1rem;
}
 
.elections {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 8rem;
} 
 
.elections a {
    text-decoration: none;
    color: var(--gray);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Roboto", serif;
    padding-left: 4rem;
}
 
.elections p {
    width: 10vw;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 10px;
    position: relative;
}
 
.elections img {
    position: absolute;
    top: 1rem;
    left: 1rem;
}
 
.votes {
    margin-left: 8rem;
}
 
.votes a {
    text-decoration: none;
    color: var(--gray);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Roboto", serif;
    padding-left: 4rem;
}
 
.votes p {
    width: 10vw;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 10px;
    position: relative;
}
 
.votes img {
    position: absolute;
    top: 1rem;
    left: 1rem;
}
 
.users {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 8rem;
}
 
.users a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Roboto", serif;
    padding-left: 4rem;
}
 
.users p {
    background-color: var(--blue);
    width: 10vw;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 10px;
    position: relative;
}
 
.users img {
    position: absolute;
    top: 1rem;
    left: 1rem;
}
 
.chats {
    margin-top: 7rem;
    margin-left: 5rem;
}
 
.chats a {
    text-decoration: none;
    color: var(--gray);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Roboto", serif;
    padding-left: 4rem;
}
 
.chats p {
    width: 15vw;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 10px;
    position: relative;
}
 
.chats img {
    position: absolute;
    top: 1rem;
    left: 1rem;
}
 
.settings {
    margin-top: 2rem;
    margin-left: 5rem;
}
 
.settings a {
    text-decoration: none;
    color: var(--gray);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Roboto", serif;
    padding-left: 4rem;
}
 
.settings p {
    width: 15vw;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 10px;
    position: relative;
}
 
.settings img {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.Log-out{
    margin-top: 75rem;
    margin-left: 5rem;
}
    
.Log-out a {
    text-decoration: none;
    color: var(--gray);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Roboto", serif;
    padding-left: 4rem;
}

.Log-out p {
    width: 12vw;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 10px;
    position: relative;
}

.Log-out img {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.whole {
    border-right: 0.5px solid var(--grey);
    width: 20vw;
    height: 200vh;
}
 
.whole2 {
    width: 100%;
}
 
.flexbox {
    display: flex;
    justify-content: space-around;
}
 
.search {
    position: relative;
}

.search input {
    background-image: url('Images/Vector\ magnify.png');
    background-repeat: no-repeat;
    background-position: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 50rem;
    margin-left: 4rem;
    outline: none;
    border: 1px solid var(--grey);
    border-radius: 15px;
    cursor: text;
}

.search input::placeholder {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: "Poppins", serif; 
}

.search img {
    position: absolute;
    top: 1.5rem;
    right: 16rem;
}

.search h3 {
    color: var(--blueviolet);
    font-size: 4rem;
    font-weight: 700;
    font-family: "Poppins", serif; 
    padding-left: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.wade {
    width: 66vw;
    height: 40vh;
    border: 1px solid var(--lightblue);
    font-family: "Poppins", serif; 
    border-radius: 10px;
    margin-left: 4rem;
    padding: 2rem;
}

.wade h3 a{
    text-decoration: none;
    font-size: 3rem;
    font-weight: 500;
    color: var(--purple);
    padding-top: 1rem;
}



.wade h4 {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--lightblue);
}

.wade h5 {
    color: var(--lightblue);
    font-weight: 700;
    font-size: 1.6rem;
    padding-top: 2rem;
}

.wade p {
    color: var(--lightblue);
    font-weight: 700;
    font-size: 1.6rem;
}

.leslie {
    width: 66vw;
    height: 40vh;
    border: 1px solid var(--lightblue);
    font-family: "Poppins", serif; 
    border-radius: 10px;
    margin-left: 4rem;
    margin-top: 1rem;
    padding: 2rem;
}

.leslie h3 {
    font-size: 3rem;
    font-weight: 500;
    color: var(--purple);
    padding-top: 1rem;
}

.leslie h4 {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--lightblue);
}

.leslie h5 {
    color: var(--lightblue);
    font-weight: 700;
    font-size: 1.6rem;
    padding-top: 2rem;
}

.leslie p {
    color: var(--lightblue);
    font-weight: 700;
    font-size: 1.6rem;
}

.hawkins {
    width: 66vw;
    height: 40vh;
    border: 1px solid var(--lightblue);
    font-family: "Poppins", serif; 
    border-radius: 10px;
    margin-left: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
}

.hawkins h3 {
    font-size: 3rem;
    font-weight: 500;
    color: var(--purple);
    padding-top: 1rem;
}

.hawkins h4 {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--lightblue);
}

.hawkins h5 {
    color: var(--lightblue);
    font-weight: 700;
    font-size: 1.6rem;
    padding-top: 2rem;
}

.hawkins p {
    color: var(--lightblue);
    font-weight: 700;
    font-size: 1.6rem;
}

.fox {
    width: 66vw;
    height: 40vh;
    border: 1px solid var(--lightblue);
    font-family: "Poppins", serif; 
    border-radius: 10px;
    margin-left: 4rem;
    padding: 2rem;
}

.fox h3 {
    font-size: 3rem;
    font-weight: 500;
    color: var(--purple);
    padding-top: 1rem;
}

.fox h4 {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--lightblue);
}

.fox h5 {
    color: var(--lightblue);
    font-weight: 700;
    font-size: 1.6rem;
    padding-top: 2rem;
}

.fox p {
    color: var(--lightblue);
    font-weight: 700;
    font-size: 1.6rem;
}



/* Tablet Screen */


@media screen and (max-width: 1024px) {
    
    .navbars {
        display: none;
   }

   .logo {
       padding-right: 0; 
   }

   .bar-icon {
        display: flex;
        margin-left: 67rem;
        padding-top: 3rem;
   }

   header {
        height: 170rem;
   }

   .whole {
        display: none;
        border-right: none;
        background-color: var(--deepblue);
        position: absolute;
        right: 1rem;
        width: 25vw;
        height: 50vh;
        top: 99px;
        padding: 1rem;
        z-index: 1;
   }

   .whole a {
        color: var(--white);
        font-size: 1.5rem;
   }

   .whole div {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
   }

   .whole p {
         background: none;
         width: 100%;
   }

   .whole img{
        display: none;
   }
   
   nav {
        height: 20vh;
   }

   .show {
        display: block;
   }

   .wade,.leslie,.fox,.hawkins {
        height: 40vh;
        width: 90%;
   }

   .search img {
        right: 10rem;
   } 

}


@media screen and (max-width: 912px) {
    
    .bar-icon {
        margin-left: 50rem;
    }

    .search input {
        padding-right: 40rem;
    }
}


@media screen and (max-width: 853px) {
    
    .search input {
        padding-right: 35rem;
    }
}


@media screen and (max-width: 820px) {
    
    .bar-icon {
        margin-left: 45rem;
    }

    .wade,.leslie,.hawkins,.fox {
        height: 25vh;
    }

    .search input {
        padding-right: 30rem;
    }
}


@media screen and (max-width: 768px) {
    
    .bar-icon {
        margin-left: 40rem;
    }

    .whole {
        height: 60vh;
    }

    .wade,.leslie,.hawkins,.fox {
        height: 50vh;
    }

}



@media screen and (max-width: 540px) {
    
    .logo {
        padding-left: 2rem;
        padding-top: 3.5rem;
    }

    .bar-icon {
        margin-left: 20rem;
    }

    .whole {
        width: 35vw;
    }

    .search input {
        padding-right: 7rem;
        margin-left: 2rem;
    }

    .search img {
        right: 7rem;
    }

    .search h3 {
        font-size: 2.5rem;
        padding-left: 2rem;
    }

    .wade,.leslie,.hawkins,.fox {
        margin-left: 2rem;
    }

    
}


@media screen and (max-width: 425px) {
    
    .bar-icon {
        margin-left: 15rem;
        padding-top: 2.5rem;
    }

    .logo img {
        width: 15rem;
    }

    .whole {
        width: 45vw;
    }

    .search input {
        padding-right: 0;
        padding-left: 4rem;
        margin-left: 1rem;
        background-position: 1rem;
    }

    .search input::placeholder {
        font-size: 1.1rem;
    }

    .search img {
        right: 5rem;
    }

    .wade,.leslie,.hawkins,.fox {
        height: 55vh;
    }

}



@media screen and (max-width: 375px) {

    .bar-icon {
        margin-left: 13rem;
    }

    .whole {
        width: 50vw;
    }

    .search img {
        right: 5rem;
    }

    .search input::placeholder {
        font-size: 1rem;
    }

    .search input {
        padding-right: 0rem;
        padding-left: 4rem;
        background-position: 1.5rem;
        width: 90%;
    }
}


@media screen and (max-width: 320px) {
    
    .search img {
        right: 0.5rem;
    }

    .search h3 {
        font-size: 1.5rem;
    }

    .search input {
        width: 100%;
    }

}