* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
     font-family: "Poppins", serif; 
     background: var(--black);                                                         
}
 
html {
     font-size: 62.5%;
}

:root {
    --blue: #407BFF;
    --deepblue: #1B2559;  
    --blueviolet: #203156;
    --grey: #F0ECF3; 
    --purple: #193365;
    --whitesmoke: #F4F7FE;
    --white: #FFFFFF;
    --gray: #A798B2;
    --lightblue: #9EB7E8; 
    --black: #000000;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.discussion {
    width: 85vw;
    height: 95vh;
    background-color: var(--grey);
    border-radius: 15px;
    position: relative;
    margin-top: 2rem;
}

.discussion h3 {
    text-align: center;
    padding-top: 2rem;
    font-size: 3.2rem;
    font-weight: 700;
    font-family: "Roboto", serif;
    color: var(--blue);
}

.discussion img {
    position: absolute;
    left: 4rem;
    top: 3rem;
}

.cooper {
    display: flex;
    margin-top: 5rem;
    position: relative;
}

.cooper h3 {
    color: var(--black);
    font-size: 2.6rem;
    font-family: "Roboto", serif;
    font-weight: 400;
    padding-left: 13rem;
}

.cooper p {
    position: absolute;
    top: 2rem;
    left: 35rem;
    font-size: 1.6rem;
    font-family: "Roboto", serif;
    font-weight: 400;
}

.cooper img {
    position: absolute;
    top: 0;
    left: 3rem;
}

.jerome {
    display: flex;
    margin-top: 5rem;
    position: relative;
}

.jerome h3 {
    color: var(--black);
    font-size: 2.6rem;
    font-family: "Roboto", serif;
    font-weight: 400;
    padding-left: 13rem;
}

.jerome p {
    position: absolute;
    top: 2rem;
    left: 35rem;
    font-size: 1.6rem;
    font-family: "Roboto", serif;
    font-weight: 400;
}

.jerome img {
    position: absolute;
    top: 0;
    left: 3rem;
}

.hawkins {
    display: flex;
    margin-top: 5rem;
    position: relative;
}

.hawkins h3 {
    color: var(--black);
    font-size: 2.6rem;
    font-family: "Roboto", serif;
    font-weight: 400;
    padding-left: 13rem;
}

.hawkins p {
    position: absolute;
    top: 2rem;
    left: 35rem;
    font-size: 1.6rem;
    font-family: "Roboto", serif;
    font-weight: 400;
}

.hawkins img {
    position: absolute;
    top: 0;
    left: 3rem;
}

.ralph {
    display: flex;
    margin-top: 5rem;
    position: relative;
}

.ralph h3 {
    color: var(--black);
    font-size: 2.6rem;
    font-family: "Roboto", serif;
    font-weight: 400;
    padding-left: 13rem;
}

.ralph p {
    position: absolute;
    top: 2rem;
    left: 35rem;
    font-size: 1.6rem;
    font-family: "Roboto", serif;
    font-weight: 400;
}

.ralph img {
    position: absolute;
    top: 0;
    left: 3rem;
}

.inputs {
    margin-top: 5rem;
}

.inputs input {
    padding-left: 1.5rem;
    padding-right: 88rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: var(--white);
    border: none;
    border-radius: 10px;
    outline: none;
    margin-left: 2rem;
    cursor: text;
}

.images {
    position: relative;
}

.images #look-top {
    position: absolute;
    top: -4.5rem;
    left: 95rem;
}

.images #vector2x {
    width: 2.1rem;
    position: absolute;
    top: -4.3rem;
    left: 99rem;
}

.images #vector-up {
    position: absolute;
    top: -4.5rem;
    left: 104rem;
}


/* Tablet Screen */

@media screen and (max-width: 1024px) {

    .inputs input {
        padding-right: 65rem;
    }

    .inputs {
        margin-top: 10rem;
    }

    .images #look-top {
        position: absolute;
        top: -4.5rem;
        left: 65rem;
    }
    
    .images #vector2x {
        width: 2.1rem;
        position: absolute;
        top: -4.3rem;
        left: 69rem;
    }
    
    .images #vector-up {
        position: absolute;
        top: -4.5rem;
        left: 74rem;
    }
    
}


@media screen and (max-width: 912px) {
    
    .discussion {
        height: 55vh;
        width: 95vw;
        margin-top: 10rem;
    }

    .cooper p {
        left: 32rem;
    }

    .jerome p {
        left: 32rem;
    }

    .hawkins p {
        left: 32rem;
    }

    .ralph p {
        left: 32rem;
    }
}


@media screen and (max-width: 853px) {

    .inputs input {
        padding-right: 58rem;
    }
    
}


@media screen and (max-width: 820px) {

    .inputs input {
        padding-right: 56rem;
    }

    .images #vector-up {
        position: absolute;
        top: -4.5rem;
        left: 72.5rem;
    }
    
}


@media screen and (max-width: 768px) {
    
    .discussion {
        height: 80vh;
        width: 95vw;
    }

    header {
        height: 200vh;
    }

    .inputs input {
        padding-right: 50rem;
    }

    .images #look-top {
        position: absolute;
        top: -4.5rem;
        left: 55rem;
    }
    
    .images #vector2x {
        width: 2.1rem;
        position: absolute;
        top: -4.3rem;
        left: 59rem;
    }
    
    .images #vector-up {
        position: absolute;
        top: -4.8rem;
        left: 63rem;
    }
}


@media screen and (max-width: 540px) {
    
    .discussion {
        width: 95vw;
        height: 100vh;
    }

    .discussion p {
        font-size: 1rem;
    }

    .discussion h3 {
        font-size: 2rem;
    }

    .cooper p {
        left: 27rem;
    }

    .jerome p {
        left: 27rem;
    }

    .hawkins p {
        left: 27rem;
    }

    .ralph p {
        left: 27rem;
    }

    .inputs input {
        padding-right: 30rem;
        margin-left: 1.5rem;
    }

    .images #look-top {
        position: absolute;
        top: -4.5rem;
        left: 35rem;
    }
    
    .images #vector2x {
        width: 2.1rem;
        position: absolute;
        top: -4.3rem;
        left: 39rem;
    }
    
    .images #vector-up {
        position: absolute;
        top: -4.8rem;
        left: 43rem;
    }
}


/* Mobile Screen */

@media screen and (max-width: 425px) {
    
    .inputs input {
        padding-right: 20rem;
    }

    .discussion {
        height: 80vh;
        width: 97%;
    }

    .discussion h3 {
        font-size: 1.5rem;
    }

    .cooper {
        height: 8vh;
    }

    .jerome {
        height: 8vh;
    }

    .hawkins {
        height: 8vh;
    }

    .ralph {
        height: 8vh;
    }

    .cooper p {
        left: 25rem;
    }

    .jerome p {
        left: 25rem;
    }

    .hawkins p {
        left: 25rem;
    }

    .ralph p {
        left: 25rem;
    }

    .images #look-top {
        position: absolute;
        top: -4.5rem;
        left: 25rem;
    }
    
    .images #vector2x {
        width: 2.1rem;
        position: absolute;
        top: -4.3rem;
        left: 29rem;
    }
    
    .images #vector-up {
        position: absolute;
        top: -4.8rem;
        left: 33rem;
    }

}


@media screen and (max-width: 375px) {

    .inputs input {
        padding-right: 15rem;
    }

    .discussion {
        height: 100vh;
        width: 98%;
    }

    header {
        height: 130vh;
    }

    .cooper {
        height: 10vh;
    }

    .jerome {
        height: 10vh;
    }

    .hawkins {
        height: 10vh;
    }

    .ralph {
        height: 10vh;
    }

    .cooper p {
        left: 22rem;
    }

    .jerome p {
        left: 22rem;
    }

    .hawkins p {
        left: 22rem;
    }

    .ralph p {
        left: 22rem;
    }

    .cooper img {
        left: 1rem;
    }

    .jerome img {
        left: 1rem;
    }

    .hawkins img {
        left: 1rem;
    }

    .ralph img {
        left: 1rem;
    }
    
    .cooper h3 {      
        padding-left: 11rem;
    }

    .jerome h3 {      
        padding-left: 11rem;
    }

    .hawkins h3 {      
        padding-left: 11rem;
    }

    .ralph h3 {      
        padding-left: 11rem;
    }

    .images #look-top {
        position: absolute;
        top: -4.5rem;
        left: 22rem;
    }
    
    .images #vector2x {
        width: 2.1rem;
        position: absolute;
        top: -4.3rem;
        left: 25rem;
    }
    
    .images #vector-up {
        position: absolute;
        top: -4.8rem;
        left: 29rem;
    }

    .discussion img {
        top: 1.6rem;
    }

}


@media screen and (max-width: 320px) {
    
    .inputs input {
        padding-right: 12rem;
        margin-left: 0.5rem;
    }

    .images #look-top {
        position: absolute;
        top: -4.5rem;
        left: 21rem;
    }
    
    .images #vector2x {
        width: 2.1rem;
        position: absolute;
        top: -4.3rem;
        left: 24rem;
    }
    
    .images #vector-up {
        position: absolute;
        top: -4.8rem;
        left: 27rem;
    }

    .cooper {
        height: 12vh;
    }

    .jerome {
        height: 12vh;
    }

    .hawkins {
        height: 12vh;
    }

    .ralph {
        height: 12vh;
    }

    .cooper p {
        left: 21rem;
    }

    .jerome p {
        left: 21rem;
    }

    .hawkins p {
        left: 21rem;
    }

    .ralph p {
        left: 21rem;
    }

    .cooper h3 {      
        padding-left: 10rem;
    }

    .jerome h3 {      
        padding-left: 10rem;
    }

    .hawkins h3 {      
        padding-left: 10rem;
    }

    .ralph h3 {      
        padding-left: 10rem;
    }
}