* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
     font-family: "Poppins", serif; 
}
 
html {
     font-size: 62.5%;
}
 
:root {
     --blue: #407BFF;
     --deepblue: #1B2559;  
     --blueviolet: #2E374A;
     --grey: #C7CAD0; 
     --purple: #193365;
     --whitesmoke: #F4F7FE;
     --white: #FFFFFF;
     --gray: #A798B2;
     --lightblue: #9EB7E8; 
     --black: #000000;
     --ash: #6B6C6F;
     --darkgrey: #EBEBEB;
}

nav ul {
    display: flex;
    list-style: none;
}

.logo {
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 85rem;
}

.logo img {
    width: 20rem;
}

li {
    padding-top: 4rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

nav button {
    background: none;
    outline: none;
    border: 1px solid var(--blue);
    border-radius: 7px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 4rem;     
    position: relative;
}

nav button a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--blue);
}

nav button img {
   width: 3rem;
   position: absolute;
   top: 0.3rem;
   right: 0.5rem;
}

#vector {
    margin-top: 1.4rem;
}

.bar-icon {
    font-size: 4rem;
    color: var(--blue);
    display: none;
    background: none;
    border: none;
}

nav {
    display: flex;
    height: 20vh;
}

header {
   height: 150vh;
}

.dashboard {
    margin-left: 8rem;
 }
 
.dashboard a {
    text-decoration: none;
    color: var(--gray);
    font-size: 1.7rem;
    font-weight: 400;
    font-family: "Roboto", serif;
    padding-left: 4rem;
}
 
.dashboard p {
    width: 10vw;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 10px;
    position: relative;
}
 
.dashboard img {
    position: absolute;
    top: 1rem;
    left: 1rem;
}
 
.elections {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 8rem;
} 
 
.elections a {
    text-decoration: none;
    color: var(--gray);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Roboto", serif;
    padding-left: 4rem;
}
 
.elections p {
    width: 10vw;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 10px;
    position: relative;
}
 
.elections img {
    position: absolute;
    top: 1rem;
    left: 1rem;
}
 
.votes {
    margin-left: 8rem;
}
 
.votes a {
    text-decoration: none;
    color: var(--gray);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Roboto", serif;
    padding-left: 4rem;
}
 
.votes p {
    width: 10vw;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 10px;
    position: relative;
}
 
.votes img {
    position: absolute;
    top: 1rem;
    left: 1rem;
}
 
.users {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 8rem;
}
 
.users a {
    text-decoration: none;
    color: var(--gray);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Roboto", serif;
    padding-left: 4rem;
}
 
.users p {
    width: 10vw;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 10px;
    position: relative;
}
 
.users img {
    position: absolute;
    top: 1rem;
    left: 1rem;
}
 
.chats {
    margin-top: 7rem;
    margin-left: 5rem;
}
 
.chats a {
    text-decoration: none;
    color: var(--gray);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Roboto", serif;
    padding-left: 4rem;
}
 
.chats p {
    width: 15vw;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 10px;
    position: relative;
}
 
.chats img {
    position: absolute;
    top: 1rem;
    left: 1rem;
}
 
.settings {
    margin-top: 2rem;
    margin-left: 5rem;
}
 
.settings a {
    text-decoration: none;
    color: var(--gray);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Roboto", serif;
    padding-left: 4rem;
}
 
.settings p {
    width: 12vw;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 10px;
    position: relative;
}
 
.settings img {
    position: absolute;
    top: 1rem;
    left: 1rem;
}
 
.whole {
    border-right: 0.5px solid var(--grey);
    width: 20vw;
    height: 150vh;
}
 
.whole2 {
    width: 100%;
}
 
.flexbox {
    display: flex;
    justify-content: space-around;
}
 
.search {
    position: relative;
}

.search input {
    background-image: url('Images/Vector\ magnify.png');
    background-repeat: no-repeat;
    background-position: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 50rem;
    margin-left: 4rem;
    outline: none;
    border: 1px solid var(--grey);
    border-radius: 15px;
    cursor: text;
}

.search input::placeholder {
    color: var(--ash);
    font-size: 1.5rem;
    font-weight: 300;
    font-family: "Poppins", serif; 
}

.search img {
    position: absolute;
    top: 1.5rem;
    right: 16rem;
}


.flexbox2 {
    display: flex;
    justify-content: space-between;
    padding-top: 10rem;
    margin: 0 4rem;
}

.alexa {
    position: relative;
}

.alexa img {
    position: absolute;
    left: 0;
}

.alexa h3 {
    font-size: 2rem;
    font-family: "Poppins", serif; 
    font-weight: 500;
    padding-left: 10rem;
    padding-top: 1.5rem;
}

.alexa p {
    color: var(--grey);
    font-size: 1.6rem;
    font-family: "Poppins", serif; 
    font-weight: 400;
    padding-left: 10rem;
    padding-top: 0.7rem;
}

.edit-btn button {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    background-color: var(--blue);
    padding: 1.5rem 3rem;
    border: none;
    border-radius: 7px;
    outline: none;
    margin-right: 2rem;
}

form {
    margin-left: 4rem;
    margin-top: 7rem;
}

form input {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 1.5rem;
    padding-right: 30rem;
    background-color: var(--ash);
    border: 1px solid var(--blueviolet);
    border-radius: 10px;
    cursor: text;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

::placeholder {
    color: var(--grey);
    font-size: 1.6rem;
    font-weight: 500;
    font-family: "Open Sans", serif;

}

.label-wrap {
    position: relative;
}

label {
    color: var(--grey);
    font-size: 2rem;
    font-family: "Poppins", serif; 
    font-weight: 400;
}

form #time {
    margin-left: 3rem;
}

form #country {
    margin-left: 3rem;
}

form #vote {
    margin-left: 3rem;
}

form label[for*="fullname"] {
    position: absolute;
    top: -1rem;
    left: 0;
}

form label[for*="timezone"] {
    position: absolute;
    top: -1rem;
    left: 52rem;
}

form label[for*="gender"] {
    position: absolute;
    top: 12.5rem;
    left: 0;
}

form label[for*="country"] {
    position: absolute;
    top: 12.5rem;
    left: 52rem;
}

form label[for*="language"] {
    position: absolute;
    top: 26rem;
    left: 0;
}

form label[for*="voters"] {
    position: absolute;
    top: 26.5rem;
    left: 52rem;
}

.email {
    margin-top: 1rem;
    margin-left: 5rem;
    position: relative;
}

.email h3 {
    font-size: 2rem;
    font-weight: 500;
    font-family: "Poppins", serif; 
}

.email img {
    position: absolute;
    top: 5rem;
    left: 0;
    padding: 1rem;
    border-radius: 25px;
    background-color: var(--lightblue);
}

.email h4 {
    color: var(--ash);
    font-size: 1.5rem;
    font-family: "Poppins", serif; 
    font-weight: 400;
    padding-left: 6rem;
    padding-top: 0.7rem;
}

.email p {
    font-size: 1.6rem;
    font-family: "Poppins", serif; 
    font-weight: 400;
    padding-left: 6rem;
    padding-top: 1.5rem;
}

.email button {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Poppins", serif; 
    background-color: var(--blue);
    padding: 1.5rem 2rem;
    outline: none;
    border: none;
    margin-top: 2rem;
    border-radius: 10px;
}


/* Tablet Screen */

@media screen and (max-width: 1024px) {

    .navbars {
        display: none;
    }

   .logo {
       padding-right: 0; 
    }

   .bar-icon {
        display: flex;
        margin-left: 67rem;
        padding-top: 3rem;
    }

   header {
        height: 170rem;
    }

   .whole {
        display: none;
        border-right: none;
        background-color: var(--deepblue);
        position: absolute;
        right: 1rem;
        width: 30vw;
        height: 50vh;
        top: 99px;
        padding: 2rem;
        z-index: 1;
    }

   .whole a {
        color: var(--white);
        font-size: 1.5rem;
    }

   .whole div {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

   .whole p {
         background: none;
         width: 100%;
    }

   .whole img{
        display: none;
    }
   
   .show {
        display: block;
    }

    nav {
        height: 10vh;
    }

    .search {
        display: none;
    }

    form #time {
        margin-left: 0;
    }

    form #country {
        margin-left: 0;
    }

    form #vote {
        margin-left: 0;
    }

    form input {
        padding-right: 40rem;
    }

    form label[for*="timezone"] {
        position: absolute;
        top: 13rem;
        left: 0;
    }
    
    form label[for*="gender"] {
        position: absolute;
        top: 27rem;
        left: 0;
    }
    
    form label[for*="country"] {
        position: absolute;
        top: 40rem;
        left: 0;
    }
    
    form label[for*="language"] {
        position: absolute;
        top: 54rem;
        left: 0;
    }
    
    form label[for*="voters"] {
        position: absolute;
        top: 68rem;
        left: 0;
    }
       
}


@media screen and (max-width: 912px) {

    .bar-icon {
        margin-left: 47rem;
    }
    
}


@media screen and (max-width: 768px) {

    .bar-icon {
        margin-left: 40rem;
    }

    .whole {
        height: 55vh;
    }
    
}


@media screen and (max-width: 540px) {

    .bar-icon {
        margin-left: 25rem;
    }

    .logo {
        padding-left: 2rem;
    }

    .whole {
        width: 50vw;
    }

    form input {
        padding-right: 25rem;
    }
    
}


/* Mobile Screen */

@media screen and (max-width: 425px) {

    .bar-icon {
        margin-left: 19rem;
        padding-top: 2.5rem;
    }

    .logo img {
        width: 10rem;
    }

    form input {
        padding-right: 15rem;
    }

    .edit-btn {
        position: absolute;
        top: 135rem;
        left: 8rem;
    }
   
}


@media screen and (max-width: 375px) {


    .whole {
        width: 60vw;
    }

    form input {
        padding-right: 10rem;
    }
    
}


@media screen and (max-width: 320px) {
    
    .bar-icon {
        margin-left: 13rem;
    }

    .whole {
        right: 0;
        width: 65vw;
    }

    form input {
        padding-right: 8rem;
    }

    .flexbox2{
        margin-left: 2rem;
    }


}