* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
     font-family: "Poppins", serif; 
}
 
html {
     font-size: 62.5%;
}
 
:root {
     --lightblue: #C2C9D1;
     --blue: #407BFF;
     --deepblue: #1B2559;
     --grey: #A3AED0;
     --purple: #3F5071;
     --whitesmoke: #F4F7FE;
     --white: #FFFFFF;
     --gray: #A798B2;
     --blueviolet: #1A2640;
}

nav ul {
     display: flex;
     list-style: none;
}

.logo {
   padding-top: 4rem;
   padding-left: 4rem;
   padding-right: 85rem;
}

.logo img {
     width: 20rem;
}

li {
     padding-top: 4rem;
     padding-left: 0.7rem;
     padding-right: 0.7rem;
}

nav button {
     background: none;
     outline: none;
     border: 1px solid var(--blue);
     border-radius: 7px;
     padding-top: 1rem;
     padding-bottom: 1rem;
     padding-left: 1rem;
     padding-right: 4rem;     
     position: relative;
}

nav button a {
     text-decoration: none;
     font-weight: 600;
     font-size: 1.5rem;
     color: var(--blue);
}

nav button img {
    width: 3rem;
    position: absolute;
    top: 0.3rem;
    right: 0.5rem;
}

#vector {
     margin-top: 1.4rem;
}

.bar-icon {
    font-size: 4rem;
    color: var(--blue);
    display: none;
    background: none;
    border: none;
}

nav {
     display: flex;
     height: 20vh;
}

header {
    height: 100vh;
}

.dashboard {
    margin-left: 8rem;
}

.dashboard a {
    text-decoration: none;
    color: var(--gray);
    font-size: 1.7rem;
    font-weight: bold;
    font-family: "Roboto", serif;
    padding-left: 4rem;
}

.dashboard p {
    width: 10vw;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 10px;
    position: relative;
}

.dashboard img {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.elections {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 8rem;
} 

.elections a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Roboto", serif;
    padding-left: 4rem;
}

.elections p {
    background-color: var(--blue);
    width: 10vw;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 10px;
    position: relative;
}

.elections img {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.votes {
    margin-left: 8rem;
}

.votes a {
    text-decoration: none;
    color: var(--gray);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Roboto", serif;
    padding-left: 4rem;
}

.votes p {
    width: 10vw;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 10px;
    position: relative;
}

.votes img {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.users {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 8rem;
}

.users a {
    text-decoration: none;
    color: var(--gray);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Roboto", serif;
    padding-left: 4rem;
}

.users p {
    width: 10vw;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 10px;
    position: relative;
}

.users img {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.chats {
    margin-top: 7rem;
    margin-left: 5rem;
}

.chats a {
    text-decoration: none;
    color: var(--gray);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Roboto", serif;
    padding-left: 4rem;
}

.chats p {
    width: 15vw;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 10px;
    position: relative;
}

.chats img {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.settings {
    margin-top: 2rem;
    margin-left: 5rem;
}

.settings a {
    text-decoration: none;
    color: var(--gray);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Roboto", serif;
    padding-left: 4rem;
}

.settings p {
    width: 15vw;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 10px;
    position: relative;
}

.settings img {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.Log-out{
    margin-top: 10rem;
    margin-left: 5rem;
}
    
.Log-out a {
    text-decoration: none;
    color: var(--gray);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Roboto", serif;
    padding-left: 4rem;
}

.Log-out p {
    width: 12vw;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 10px;
    position: relative;
}

.Log-out img {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.whole {
    border-right: 0.5px solid var(--grey);
    width: 20vw;
    height: 100vh;
}

.whole2 {
    width: 100%;
}

.flexbox {
    display: flex;
    justify-content: space-around;
}

.create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 70vh;
    background-color: var(--white);
    box-shadow: 0px 0px 15px 0px var(--lightblue);
    margin-left: 10rem;
}

.create h3 {
    color: var(--deepblue);
    font-size: 4rem;
    font-weight: 700;
    font-family: "Open Sans", serif;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.create button  {
    border: none;
    background: none;
    background-color: var(blue);
    outline: none;
    position: relative;
}

.create button a {
    text-decoration: none;
    color: var(--white);
    background-color: var(--blue);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 6rem;
    font-size: 1.7rem;
    font-weight: 500;
    border-radius: 7px;
}

.create button img {
    position: absolute;
    width: 3rem;
    top: -0.7rem;
    right: 2rem;
}


/* Tablet Screen */

@media screen and (max-width: 1024px) {
    
    .navbars {
        display: none;
    }

   .logo {
       padding-right: 0; 
    }

   .bar-icon {
        display: flex;
        margin-left: 67rem;
        padding-top: 3rem;
    }

   header {
        height: 170rem;
    }

   .whole {
        display: none;
        border-right: none;
        background-color: var(--deepblue);
        position: absolute;
        right: 1rem;
        width: 30vw;
        height: 40vh;
        top: 99px;
        padding: 2rem;
        z-index: 1;
    }

   .whole a {
        color: var(--white);
        font-size: 1.5rem;
    }

   .whole div {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

   .whole p {
         background: none;
         width: 100%;
    }

   .whole img{
        display: none;
    }
   
   nav {
        height: 10vh;
    }

   .show {
        display: block;
    }

    .create {
        width: 80vw;
        height: 40vh;
        margin-top: 10rem;
    }

    header {
        height: 80vh;
    }
}


@media screen and (max-width: 912px) {
    
    .bar-icon {
        margin-left: 50rem;
    }
}


@media screen and (max-width: 820px) {
    
    .whole div {
        margin-left: 1rem;
    }
}


@media screen and (max-width: 768px) {
    
    .bar-icon {
        margin-left: 40rem;
    }

    .whole {
        height: 45vh;
    }

    .create {
        width: 85vw;
        margin-left: 5rem;
    }
}


@media screen and (max-width: 540px) {
    
    .bar-icon {
        margin-left: 20rem;
    }

    .create {
        width: 90vw;
        height: 60vh;
        margin-left: 3rem;
    }
    
    .create h3 {
        font-size: 3rem;
    }

    .whole {
        width: 40vw;
        height: 50vh;
    }
}


/* Mobile Screen */


@media screen and (max-width: 430px) {
    
    .bar-icon {
        margin-left: 10rem;
        padding-top: 3.5rem;
    }

    .create {
        width: 90vw;
        height: 60vh;
        margin-left: 2rem;
    }
    
    .create h3 {
        font-size: 2.3rem;
    }

    .whole {
        width: 30vw;
        height: 50vh;
    }
}


@media screen and (max-width: 425px) {
    
    .whole {
        width: 50vw;
        height: 65vh;
    }

    .whole div {
        margin-left: 0;
    }

    .create button img {
        display: none;
    }

    .create button a {
        padding-right: 2rem;
    }
    

}

@media screen and (max-width: 390px) {

    .logo img {
        width: 15rem;
    }

    .logo {
        padding-top: 4.5rem;
    }

    .create {
        margin-left: 2rem;
    }

    .create h3 {
        font-size: 2rem;
    }


}

@media screen and (max-width: 375px) {
     
    .whole {
        margin-left: 0.5rem;
        width: 70vw;
        height: 60vh;
    }

    .create button a {
        padding-right: 2rem;
    }
}


@media screen and (max-width: 320px) {
    
    

    .bar-icon {
        margin-left: 7rem;
    }

    .logo {
        padding-left: 1rem;
    }

    .create h3 {
        font-size: 1.5rem;
    }

    .create button a {
        padding-left: 1.5rem;
        padding-right: 2.5rem;

    }

    .create {
        width: 85vw;
        height: 60vh;
        margin-left: 2.5rem;
    }

}