* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
     font-family: "Poppins", serif; 
     background: var(--purple);
}
 
html {
     font-size: 62.5%;
}
 
:root {
     --lightblue: #768299;
     --blue: #407BFF;
     --deepblue: #2D3D62;
     --grey: #C7CAD0;
     --purple: #3F5071;
     --whitesmoke: #F6F6F9;
     --white: #F0ECF3;
     --gray: #727272;
     --blueviolet: #1A2640;
}
 

header {
    height: 170vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: var(--white);
    font-size: 5rem;
    font-weight: 400;
    font-family: "Open Sans", serif;
    padding-bottom: 2rem;
}

form {
    width: 40vw;
    height: 140vh;
    background: var(--blueviolet);
    border-radius: 25px;
    padding: 2rem;
}

.move {
    color: var(--grey);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3rem;
}

.move h3 {
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 1rem;
    text-align: center;
}

.move p {
    font-size: 1.8rem;
    font-weight: 300;
}

form input {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 1rem;
    padding-right: 25rem;
    border: none;
    outline: none;
    border-radius: 7px;
    background-color: var(--gray);
    pointer-events: none;
    cursor: text;
}

form label {
    color: var(--grey);
    font-size: 2rem;
    font-weight: 300;
    position: relative;
}

label img {
    position: absolute;
    top: 0.5rem;
    margin-left: 0.5rem;
}

::placeholder {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Open Sans", serif;
    letter-spacing: 0.5px;
}

input#password {
    background-image: url('/Images/akar-icons_eye-closed.png');
    background-repeat: no-repeat;
    background-position: 35rem;
}

form button {
    padding: 2.5rem 15rem;
    border: none;
    outline: none;
    border-radius: 7px;
    margin: 0.5rem 0;
}

.button .account {
     background-color: var(--blue);
     font-size: 1.6rem;
     color: var(--white);
     font-family: "Open Sans", serif;
     font-weight: 500;
     padding: 2.3rem 14.5rem;
}

.button .sign-up img {
    width: 3rem;
    position: absolute;
    top: 2rem;
    left: 7rem;
}

.button .sign-up {
    position: relative;
    padding: 2rem 12rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
    font-family: "Open Sans", serif;
    background-color: var(--gray);
}

#option {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    padding-left: 6rem;
}

form p a {
    color: var(--blue);
    font-size: 2rem;
    font-weight: 600;
    font-family: "Open Sans", serif;
}


/* Tablet Screen */


@media screen and (max-width: 1024px) {
    
    form {
        width: 53vw;
        height: 63vh;
    }

    header {
        justify-content: flex-start;
        margin-top: 5rem;
        height: 100vh;
    }
}


@media screen and (max-width: 912px) {
    
    form {
        width: 58vw;
        height: 65vh;
    }

    header {
        justify-content: flex-start;
        margin-top: 5rem;
        height: 100vh;
    }
}


@media screen and (max-width: 853px) {
    
    form {
        width: 63vw;
        height: 68vh;
    }

    header {
        justify-content: flex-start;
        margin-top: 5rem;
        height: 100vh;
    }
}


@media screen and (max-width: 823px) {
    
    form {
        width: 63vw;
        height: 72vh;
    }

    header {
        justify-content: flex-start;
        margin-top: 5rem;
        height: 100vh;
    }
}


@media screen and (max-width: 768px) {
    
    
    form {
        width: 70vw;
        height: 84vh;
    }

}

@media screen and (max-width: 540px) {
    
    form {
        width: 95vw;
        height: 120vh;
        padding: 2rem 1rem;
    }

    .move h3 {
        font-size: 2rem;
    }

    .move p {
        font-size: 1.5rem;
    }

    header {
        height: 150vh;
    }
}


/* Mobile Screen */


@media screen and (max-width: 430px) {
    
    header h1 {
        font-weight: 600;
        font-family: "Poppins", serif; 
    }

    form input {
        padding-right: 17rem;
    }

    form {
        width: 95vw;
        height: 90vh;
        padding-left: 0;
    }

    .button .account {
        font-size: 1.5rem;
        padding: 2.5rem 10.9rem;
    }

    .button .sign-up {
        font-size: 1.5rem;
        padding: 2.5rem 10.2rem;
    }

   .button .sign-up img {
        left: 5rem;
    }

    header {
        height: 110vh;
    }

    #option {
        padding-left: 3rem;
    }
}


@media screen and (max-width: 414px) {
    
    form {
        height: 93vh;
    }
}


@media screen and (max-width: 390px) {
    
    form input {
        padding-right: 14rem;
    }

    .move p {
        font-size: 1.4rem;
    }

    .button .account {
        padding: 2.5rem 9.35rem;
    }

    .button .sign-up {
        padding: 2.5rem 8.7rem;
    }

    form {
        height: 97vh;
    }

    header {
        height: 120vh;
    }
}


@media screen and (max-width: 375px) {
    
    form input {
        padding-right: 13rem;
    }

    .move p {
        font-size: 1.3rem;
    }

    .button .account {
        padding: 2.5rem 8.8rem;
    }

    .button .sign-up {
        padding: 2.5rem 8.1rem;
    }

    .button .sign-up img {
        left: 4.5rem;
    }

    form {
        height: 125vh;
    }

    header {
        height: 150vh;
    }
}


@media screen and (max-width: 360px) {
    
    .move p {
        font-size: 1.2rem;
    }

    form input {
        padding-right: 10rem;
    }

    .button .account {
        padding: 2.5rem 7.5rem;
    }

    .button .sign-up {
        padding: 2.5rem 6.9rem;
    }

    .button .sign-up img {
        left: 3rem;
    }

    form {
        height: 125vh;
    }

    header {
        height: 150vh;
    }
}

