* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
     font-family: "Poppins", serif; 
     background-color: var(--black);
}
 
html {
     font-size: 62.5%;
}
 
:root {
     --blue: #407BFF;
     --deepblue: #00000033;  
     --blueviolet: #203156;
     --grey: #B2B7C1; 
     --purple: #193365;
     --whitesmoke: #F4F7FE;
     --white: #FFFFFF;
     --gray: #A798B2;
     --lightblue: #9EB7E8; 
     --black: #000000;
}

header {
    height: 170vh;
    
}

.hero {
    height: 150vh;
    width: 80vw;
    border-radius: 25px;
    margin-left: 15rem;
    margin-top: 2rem;
    padding: 1rem;
    background-color: var(--white);
}

.arrow {
    margin-top: 2rem;
    margin-left: 5rem;
}
.warren {
    position: relative;
    padding-left: 18rem;
    padding-top: 2rem;
    margin-left: 5rem;
    margin-top: 10rem;
}

.warren img {
    width: 15rem;
    position: absolute;
    left: 0;
    top: 0.5rem;
}

.warren h3 {
    color: var(--blue);
    font-size: 1.6rem;
    font-weight: 600;
    font-family: "Roboto", serif;
    padding-bottom: 1rem;
}

.warren h2 {
    font-size: 3.2rem;
    font-weight: 700;
    font-family: "Roboto", serif;
    padding-bottom: 1rem;
}

.warren h4 {
    font-size: 1.6rem;
    color: var(--blue);
    font-weight: 600;
    font-family: "Roboto", serif;
}

.warren p {
    color: var(--blue);
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Roboto", serif;
    padding-top: 1rem;
}

.manifesto {
    margin-top: 5rem;
    margin-left: 5rem;
}

.manifesto h2 {
    font-size: 3.6rem;
    font-family: "Roboto", serif;
    font-weight: 700;
    padding-bottom: 0.8rem;
}
.manifesto h4 {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 300;
    padding-bottom: 0.8rem;
}

.manifesto p {
    font-size: 1.6rem;
    font-weight: 400;
}

.why-vote {
    margin-top: 3rem;
    margin-left: 5rem;
}

.why-vote h2 {
    font-size: 2.4rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.why-vote p {
    font-size: 1.6rem;
    font-family: 400;
}

.priorities {
    margin-top: 3rem;
    margin-left: 5rem;
}

.priorities h2 {
    font-size: 2.4rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
}

.priorities h4 {
    position: relative;
    font-size: 1.6rem;
    font-weight: 400;
    padding-top: 0.5rem;
    padding-left: 4rem;
}

.priorities h4 img {
    position: absolute;
    left: 0;
    top: 0.5rem;
}