* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
     font-family: "Poppins", serif; 
     background-color: var(--black);
}
 
html {
     font-size: 62.5%;
}
 
:root {
     --blue: #407BFF;
     --white: #FFFFFF;
     --gray: #737986;
     --black: #000000;
     --grey: #3F5071;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review {
    width: 45vw;
    height: 50vh;
    background: var(--white);
    margin-top: 15rem;
}

.review h2 {
    color: var(--white);
    background-color: var(--blue);
    height: 10vh;
    padding: 1rem 0;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

.review h3 {
    color: var(--grey);
    font-size: 2.4rem;
    font-weight: 700;
    padding-top: 4rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
}

.review input {
    margin-left: 3rem;
    padding-left: 1rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-right: 35rem;
    background: var(--gray);
    outline: none;
    border: none;
    border-radius: 10px;
}

.review input::placeholder {
    color: var(--white);
    font-size: 1.7rem;
    font-weight: 600;
    font-family: "Poppins", serif; 
}

.button {
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
    margin-right: 4.5rem;
}

.button button {
    background-color: var(--blue);
    outline: none;
    border: none;
    padding: 1.5rem 3rem;
    margin: 0 1rem;
    border-radius: 7px;  
}

.button button a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
}


/* Tablet Screen */

@media screen and (max-width: 1024px) {
    
    .review {
       width: 60vw;
    }
}


@media screen and (max-width: 912px) {
    
    .review {
        height: 27vh;
        width: 70vw;
    }

    .review h2 {
        height: 5vh;
    }

    .button  {
        margin-right: 6.5rem;
    }
}


@media screen and (max-width: 768px) {
    
    .review {
        height: 60vh;
        width: 75vw;
    }

    .review h2 {
        height: 12vh;
    }
}


@media screen and (max-width: 540px) {
    
    .review input{
        padding-right: 20rem;
    }

    .review {
        height: 50vh;
        width: 85vw;
    }

    .review h2 {
        height: 10vh;
    }
}


/* Mobile Screen */



@media screen and (max-width: 425px) {
    
    .review input{
        padding-right: 13rem;
    }

    .review {
        height: 65vh;
        width: 90vw;
    }

    .review h2 {
        height: 13vh;
    }

}


@media screen and (max-width: 375px) {
    
    .review input{
        padding-right: 10rem;
    }

    .button {
        margin-right: 3rem;
    }
}


@media screen and (max-width: 320px) {

    .review input{
        padding-right: 8rem;
        margin-left: 1rem;
    }

    .review h3 {
        font-size: 2rem;
        padding-left: 1rem;
    }

    
    
}
